<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show PDF</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        embed {
            width: 80%;
            height: 80%;
        }
    </style>
</head>

<body>
    <embed src="https://drive.google.com/file/d/1yec-uJpo0Jkw6LOfTIBWO1tenCFUUoT_/view?usp=drive_link" type="application/pdf" width="100%" height="100%">
</body>

</html>